* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Regular_M";
  max-width: 1600px;
  margin: auto;
  width: 100%;
}
@font-face {
  font-family: "Bold_M";
  src: url("/src/assets/Font/syne/static/Syne-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SemiBold_M";
  src: url("/src/assets/Font/syne/static/Syne-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Medium_M";
  src: url("/src/assets/Font/syne/static/Syne-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Regular_M";
  src: url("/src/assets/Font/syne/static/Syne-Regular.ttf") format("truetype");
}

#root {
  width: 100%;
}
body .MuiTypography-root {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary: #2A2F7F;
  --secondary: #ff8521;
  --white: white;
  --inputbg: #25410d;
  --text:#dcdcdc;
  --bg:#25410d;
  --lightbg:#f5f6fb;
  --newprimary:#2591C6;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.website-container{
  padding: 0px 40px;
}
.logo-bg{
  position: absolute;
    bottom: 0;
    left: 0;
    width: 252px;
    height: 100%;
    background-color:var(--white);
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0% 100%);
    z-index: 2;
}
.logo-bgbig{
  position: absolute;
    bottom: 0;
    left: 0;
    width: 254px;
    height: 100%;
    background-color:var(--newprimary);
    -webkit-clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0% 100%);
    z-index: 1;
}

@media (max-width:600px){
  .website-container{
  padding: 0px 15px;
}
}

/* dropdown  */
.MuiPaper-root{
  z-index: 9999999999 !important;
}